<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer-1240">
  <div class="cs-container">
    <div class="cs-top">
      <div class="cs-logo-group">
        <a href="" class="cs-logo" aria-label="back to home">
          <img
            src="/assets/images/icons/prooncall-logo-white_trans.png"
            alt="logo"
            loading="lazy"
            decoding="async"
            width="200"
            height="32"
            aria-hidden="true"
          />
        </a>
      </div>
      <div class="cs-contact-group">
        <span class="cs-header">Contact Information</span>
        <div class="cs-contact-info">
          <a href="" class="cs-contact-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer-Icons/clock-1a.svg"
              alt="icon"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
            M-F 8:00am – 5:00pm
          </a>
          <a href="" class="cs-contact-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer-Icons/mail-1a.svg"
              alt="icon"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
            support@prooncall.com
          </a>
          <a href="" class="cs-contact-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer-Icons/pin-1a.svg"
              alt="icon"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
            6902 East Kemper Rd. Cincinnati, Ohio 45249 <br />
            (513) 489-7660
          </a>
          <a href="" class="cs-contact-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer-Icons/pin-1a.svg"
              alt="icon"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
            733 Lakeview Plaza Blvd, Suite G Worthington, Ohio 43085
            <br />
            (614) 761-1400
          </a>
          <a href="" class="cs-contact-link">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer-Icons/pin-1a.svg"
              alt="icon"
              width="20"
              height="20"
              loading="lazy"
              decoding="async"
              aria-hidden="true"
            />
            Dayton Office
            <br />
            (937) 294-5900
          </a>
        </div>
      </div>
      <div class="cs-gallery-group">
        <span class="cs-header">Services</span>

        <ul class="footer-services">
          <a href="/services/network-security" style="text-decoration: unset"
            ><li class="footer-service-li">Network Security</li>
          </a>
          <a href="/services/itservices" style="text-decoration: unset"
            ><li class="footer-service-li">IT Management</li>
          </a>
          <a href="/services/voip" style="text-decoration: unset"
            ><li class="footer-service-li">VoIP</li>
          </a>
          <a href="/services/additionalservices" style="text-decoration: unset"
            ><li class="footer-service-li">Additional Services</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="cs-bottom">
      <ul class="cs-ul">
        <li class="cs-li">
          <a href="" class="cs-li-link">Home</a>
        </li>
        <li class="cs-li">
          <a href="/services/additional" class="cs-li-link">Services</a>
        </li>
        <li class="cs-li">
          <a href="/about" class="cs-li-link">About Us</a>
        </li>
        <li class="cs-li">
          <a href="/contact" class="cs-li-link">Contact Us</a>
        </li>
      </ul>
      <span class="cs-credit">
        <span>Designed and Hand Coded by</span>
        <a
          style="color: #02bfff"
          href="https://jabwebagency.com"
          target="_blank"
          rel="noopener"
          >JAB Web Agency</a
        >
        <span class="copyright"> Copyright 2024 - Present</span>
        <!-- © Copyright 2023 - <a href="" class="cs-credit-link">Invetex</a> -->
      </span>
    </div>
  </div>
</footer>
