<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-container">
    <a href="/" class="cs-logo" aria-label="back to home">
      <img
        src="/assets/images/header/pro-oncall.png"
        alt="logo"
        width="210"
        height="29"
        aria-hidden="true"
        decoding="async"
      />
    </a>
    <nav class="cs-nav" role="navigation">
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li">
            <a href="/" class="cs-li-link cs-active"> Home </a>
          </li>
          <li class="cs-li">
            <a href="/about" class="cs-li-link"> About </a>
          </li>
          <li class="cs-li cs-dropdown" tabindex="0">
            <span class="cs-li-link">
              Services
              <img
                class="cs-drop-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg"
                alt="dropdown icon"
                width="15"
                height="15"
                decoding="async"
                aria-hidden="true"
              />
            </span>
            <ul class="cs-drop-ul">
              <li class="cs-drop-li">
                <a href="/services/cybersecurity" class="cs-li-link cs-drop-link">Cyber Security</a>
              </li>
              <li class="cs-drop-li">
                <a href="/services/itservices" class="cs-li-link cs-drop-link">IT Services</a>
              </li>
              <li class="cs-drop-li">
                <a href="/services/voip" class="cs-li-link cs-drop-link">VoIP</a>
              </li>
              <li class="cs-drop-li">
                <a href="/services/additional" class="cs-li-link cs-drop-link">Additional Services</a>
              </li>
              </li>
            </ul>
          </li>
          <!-- <li class="cs-li">
            <a href="/contact" class="cs-li-link"> Contact</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <a href="/contact" class="cs-button-solid cs-nav-button">Contact Us</a>
  </div>
</header>

<script>
  // add classes for mobile navigation toggling
  var CSbody = document.querySelector("body");
  const CSnavbarMenu = document.querySelector("#cs-navigation");
  const CShamburgerMenu = document.querySelector("#cs-navigation .cs-toggle");

  CShamburgerMenu.addEventListener("click", function () {
    CShamburgerMenu.classList.toggle("cs-active");
    CSnavbarMenu.classList.toggle("cs-active");
    CSbody.classList.toggle("cs-open");
    // run the function to check the aria-expanded value
    ariaExpanded();
  });

  // checks the value of aria expanded on the cs-ul and changes it accordingly whether it is expanded or not
  function ariaExpanded() {
    const csUL = document.querySelector("#cs-expanded");
    const csExpanded = csUL.getAttribute("aria-expanded");

    if (csExpanded === "false") {
      csUL.setAttribute("aria-expanded", "true");
    } else {
      csUL.setAttribute("aria-expanded", "false");
    }
  }

  // mobile nav toggle code
  const dropDowns = Array.from(
    document.querySelectorAll("#cs-navigation .cs-dropdown")
  );
  for (const item of dropDowns) {
    const onClick = () => {
      item.classList.toggle("cs-active");
    };
    item.addEventListener("click", onClick);
  }
</script>
