<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-top-bar">
    <div class="cs-top-container">
      <div class="cs-top-social">
        <a href="{{client.facebook}}" class="cs-social-link">
          <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-dark.svg"
            alt="logo" width="12" height="12" aria-hidden="true" decoding="async" />
        </a>
        <a href="{{client.instagram}}" class="cs-social-link">
          <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-dark.svg"
            alt="logo" width="12" height="12" aria-hidden="true" decoding="async" />
        </a>
      </div>
      <div class="cs-top-contact">
        <a href="" class="cs-top-link">
          <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-pin-green.svg"
            alt="logo" width="16" height="16" aria-hidden="true" decoding="async" />
          {{client.address.lineOne}} - {{client.address.city}}, {{client.address.county}} {{client.address.postcode}}
        </a>
        <a href="" class="cs-top-link">
          <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-phone-green.svg"
            alt="logo" width="16" height="16" aria-hidden="true" decoding="async" />
          {{client.phoneFormatted}}
        </a>
        <a href="" class="cs-top-link">
          <img class="cs-link-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-clock-green.svg"
            alt="logo" width="20" height="20" aria-hidden="true" decoding="async" />
          M-F: 7:00am - 5:00pm
        </a>
      </div>
    </div>
  </div>
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
      <img src="../assets/images/header/avlakilogo.png" alt="logo" width="197" height="43" aria-hidden="true"
        decoding="async" />
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li">
            <a href="/about.html" class="cs-li-link">About</a>
          </li>
          <li class="cs-li">
            <a href="/careers.html" class="cs-li-link">Careers</a>
          </li>
          <li class="cs-li">
            <a href="/contact.html" class="cs-li-link">Contact</a>
          </li>
          <li class="cs-li cs-dropdown" tabindex="0">
            <span class="cs-li-link">
              Services
              <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/down2.svg"
                alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true" />
            </span>
            <ul class="cs-drop-ul">
              <li class="cs-drop-li">
                <a href="/drainage" class="cs-li-link cs-drop-link">Drainage</a>
              </li>
              <li class="cs-drop-li">
                <a href="/drains" class="cs-li-link cs-drop-link">Drains</a>
              </li>
              <li class="cs-drop-li">
                <a href="/grading" class="cs-li-link cs-drop-link">Grading</a>
              </li>
              <li class="cs-drop-li">
                <a href="/wells" class="cs-li-link cs-drop-link">Wells</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script>
  // add classes for mobile navigation toggling
  var CSbody = document.querySelector("body");
  const CSnavbarMenu = document.querySelector("#cs-navigation");
  const CShamburgerMenu = document.querySelector("#cs-navigation .cs-toggle");

  CShamburgerMenu.addEventListener("click", function () {
    CShamburgerMenu.classList.toggle("cs-active");
    CSnavbarMenu.classList.toggle("cs-active");
    CSbody.classList.toggle("cs-open");
    // run the function to check the aria-expanded value
    ariaExpanded();
  });

  // checks the value of aria expanded on the cs-ul and changes it accordingly whether it is expanded or not
  function ariaExpanded() {
    const csUL = document.querySelector("#cs-expanded");
    const csExpanded = csUL.getAttribute("aria-expanded");

    if (csExpanded === "false") {
      csUL.setAttribute("aria-expanded", "true");
    } else {
      csUL.setAttribute("aria-expanded", "false");
    }
  }

  // This script adds a class to the body after scrolling 100px
  // and we used these body.scroll styles to create some on scroll
  // animations with the navbar

  document.addEventListener("scroll", (e) => {
    const scroll = document.documentElement.scrollTop;
    if (scroll >= 100) {
      document.querySelector("body").classList.add("scroll");
    } else {
      document.querySelector("body").classList.remove("scroll");
    }
  });

  // mobile nav toggle code
  const dropDowns = Array.from(
    document.querySelectorAll("#cs-navigation .cs-dropdown")
  );
  for (const item of dropDowns) {
    const onClick = () => {
      item.classList.toggle("cs-active");
    };
    item.addEventListener("click", onClick);
  }
</script>
