/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1279 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-1279 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 53.125rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* 48px - 108px */
    gap: clamp(3rem, 5vw, 6.75rem);
  }
  #sbsr-1279 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* sends it to the bottom in the 2nd position */
    order: 2;
  }

  #sbsr-1279 .cs-title {
    max-width: 20ch;
  }
  #sbsr-1279 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1279 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1279 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    border: none;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #sbsr-1279 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-1279 .cs-button-solid:hover {
    color: #fff;
  }
  #sbsr-1279 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1279 .cs-picture {
    width: 100%;
    /* 456px - 598px */
    height: clamp(28.5rem, 46vw, 37.375rem);
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
    /* sends it to the bottom in the 2nd position */
    order: 2;
    position: relative;
    z-index: 1;
  }
  #sbsr-1279 .cs-picture:before {
    /* black overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #sbsr-1279 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1279 .cs-background {
    width: 100%;
    height: 50%;
    background-color: #1a1a1a;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1279 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1279 .cs-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  #sbsr-1279 .cs-flex {
    width: 45%;
  }
  #sbsr-1279 .cs-title {
    margin: 0;
  }
  #sbsr-1279 .cs-text {
    width: 50%;
  }
  #sbsr-1279 .cs-button-solid {
    margin-right: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1279 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);
  }
  #sbsr-1279 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #sbsr-1279 .cs-content {
    width: 100%;
    max-width: 27.0625rem;
    margin: 0;
    flex-direction: column;
    row-gap: 0;
    order: 1;
  }
  #sbsr-1279 .cs-flex {
    width: 100%;
  }
  #sbsr-1279 .cs-title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #sbsr-1279 .cs-text {
    width: 100%;
  }
  #sbsr-1279 .cs-picture {
    max-width: 46.125rem;
  }
  #sbsr-1279 .cs-background {
    width: 60vw;
    height: 100%;
    /* 172px - 336px */
    margin-left: clamp(11.125rem, 30vw, 21rem);
    left: 50%;
    top: 0;
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-691 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #sbs-691 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-691 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #sbs-691 .cs-color {
    color: var(--primary);
  }
  #sbs-691 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-691 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-691 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-691 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-691 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-691 .cs-floater {
    /* 80px - 216px */
    width: clamp(5rem, 9vw, 13.5rem);
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  #sbs-691 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.15vw, 0.75em);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 42.1875em;
    height: 50.3125em;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
  }
  #sbs-691 .cs-picture {
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #sbs-691 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-691 .cs-picture1 {
    width: 33.875em;
    height: 40.4375em;
    border-radius: 17.8125em;
    top: 0;
    left: 0;
  }
  #sbs-691 .cs-picture2 {
    width: 25.8125em;
    height: 30.8125em;
    border-radius: 12.875em;
    border: 0.75em solid #ffffff;
    background-color: #fff;
    bottom: 0;
    right: 0;
  }
  #sbs-691 .cs-flower {
    width: 22.6875em;
    height: auto;
    display: block;
    position: absolute;
    bottom: -1.875em;
    left: -0.625em;
    z-index: -1;
    transform: rotate(-142deg);
  }
  #sbs-691 .cs-sense {
    width: 5.0625em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 28.75em;
    right: 1.375em;
    transform: rotate(164deg);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-691 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-691 .cs-image-group {
    font-size: min(1.15vw, 1em);
  }
  #sbs-691 .cs-content {
    width: 48%;
  }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-454 {
    padding: var(--sectionPadding);
  }
  #meet-team-454 .cs-container {
    width: 100%;
    /* changes to 1440px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-454 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 21.0625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #meet-team-454 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #meet-team-454 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  #meet-team-454 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #meet-team-454 .cs-text {
    margin-bottom: 2rem;
  }
  #meet-team-454 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #meet-team-454 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #meet-team-454 .cs-button-solid:hover:before {
    width: 100%;
  }
  #meet-team-454 .cs-card-group {
    width: 100%;
    max-width: 62.1875rem;
    /* pushes up by the same amount as the 2nd & 4th cs-item translates up */
    margin: clamp(2rem, 9vw, 3rem) 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 14px - 40px */
    row-gap: clamp(0.875rem, 3vw, 2.5rem);
    position: relative;
    z-index: 1;
  }
  #meet-team-454 .cs-item {
    list-style: none;
    /* changes at desktop */
    width: 47.5%;
    margin: 0;
    padding: 0 0 1.5rem 0;
    border: 1px solid #b4b2c7;
    background-color: #fff;
    /* 12px - 16px */
    border-radius: clamp(0.875rem, 1.5vw, 1rem);
    /* clips img tag corners */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  #meet-team-454 .cs-item:before,
  #meet-team-454 .cs-item:after {
    /* green boxes */
    content: "";
    width: 0;
    height: 100%;
    background: var(--primary);
    opacity: 0.9;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform-origin: left bottom;
    transition: width 0.5s;
  }
  #meet-team-454 .cs-item:after {
    bottom: 0rem;
    left: auto;
    right: 0rem;
    z-index: -1;
  }
  #meet-team-454 .cs-item:hover:before,
  #meet-team-454 .cs-item:hover:after {
    width: 100%;
  }
  #meet-team-454 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
    filter: brightness(50%);
  }
  #meet-team-454 .cs-item:hover .cs-h3,
  #meet-team-454 .cs-item:hover .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  #meet-team-454 .cs-item:nth-of-type(2),
  #meet-team-454 .cs-item:nth-of-type(4) {
    /* 32px - 48px */
    /* wrapped in a calc function to make clamp value negative */
    transform: translateY(calc(clamp(2rem, 9vw, 3rem) * -1));
  }
  #meet-team-454 .cs-picture {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    /* prevents img from overflowing container on hover */
    overflow: hidden;
    border-bottom: 1px solid #b4b2c7;
    aspect-ratio: 1.18518519;
    display: block;
    position: relative;
  }
  #meet-team-454 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    transition: transform 0.6s, filter 0.3s;
  }
  #meet-team-454 .cs-ripple {
    list-style: none;
    /* changes at desktop */
    width: 120vw;
    height: auto;
    /* prevents mouse from interacting with it */
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
  #meet-team-454 .cs-ripple img {
    width: 100%;
    height: auto;
  }
  #meet-team-454 .cs-h3 {
    /* 16px - 25px */
    font-size: clamp(1rem, 1.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
  }
  #meet-team-454 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    color: var(--primary);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-454 .cs-container {
    max-width: 90rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #meet-team-454 .cs-card-group {
    width: calc(73%);
  }
  #meet-team-454 .cs-ripple {
    width: 120%;
  }
}
/* Small Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #meet-team-454 .cs-content {
    /* 24px - 80px */
    margin-left: clamp(1.5rem, 5.5vw, 5rem);
  }
  #meet-team-454 .cs-card-group {
    justify-content: center;
    margin: 0;
    /* 20px - 40px */
    column-gap: clamp(1.5rem, 2.5vw, 2.5rem);
  }
  #meet-team-454 .cs-card-group:hover .cs-ripple {
    transform: translate(-50%, -50%) scale(1.1);
  }
  #meet-team-454 .cs-item {
    width: calc(30%);
    max-width: 19.0625rem;
  }
  #meet-team-454 .cs-item:nth-of-type(2),
  #meet-team-454 .cs-item:nth-of-type(4) {
    transform: none;
  }
  #meet-team-454 .cs-item:nth-of-type(1) {
    transform: translateY(19.4375rem);
  }
  #meet-team-454 .cs-item:nth-of-type(3) {
    transform: translateY(13.3125rem);
  }
  #meet-team-454 .cs-picture {
    height: 15.125rem;
    aspect-ratio: 1.26033058;
  }
  #meet-team-454 .cs-ripple {
    width: 90%;
    transition: transform 0.3s;
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1229 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #stats-1229:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light3.svg");
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #stats-1229 .cs-container {
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-1229 .cs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #stats-1229 .cs-flex {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #stats-1229 .cs-title {
    max-width: 20ch;
  }
  #stats-1229 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #stats-1229 .cs-item {
    list-style: none;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    /* 16px - 40px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
    box-sizing: border-box;
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 0.75rem;
    /* clips cs-icon overflowing */
    overflow: hidden;
    grid-column: span 6;
  }
  #stats-1229 .cs-icon {
    /* 32px - 40px */
    width: clamp(2rem, 3vw, 2.5rem);
    height: auto;
    margin: 0;
    flex: none;
  }
  #stats-1229 .cs-h3 {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 900;
    width: 100%;
    margin: 0;
    color: var(--headerColor);
    /* wraps longer words on the smallest screen sizes */
    overflow-wrap: break-word;
  }
  #stats-1229 .cs-stat-group {
    width: 100%;
    margin: auto;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
  }
  #stats-1229 .cs-stat {
    list-style: none;
    margin: 0;
    /* 16px - 40px */
    padding: clamp(1rem, 3vw, 2.5rem) 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    grid-column: span 2;
    /* border code */
    /* remove the border on the far-right elements */
    /* makes the last two items span across multiple columns. changes at desktop to one line */
  }
  #stats-1229 .cs-stat:before {
    content: "";
    width: 2px;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(72, 72, 72, 0) 0%,
      #484848 50%,
      rgba(72, 72, 72, 0) 100%
    );
    position: absolute;
    top: 0;
    right: 0;
  }
  #stats-1229 .cs-stat:nth-of-type(3):before,
  #stats-1229 .cs-stat:nth-of-type(5):before {
    content: none;
  }
  #stats-1229 .cs-stat:nth-of-type(4),
  #stats-1229 .cs-stat:nth-of-type(5) {
    grid-column: span 3;
  }
  #stats-1229 .cs-desc {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: center;
    /* keeps the width of the stat description from overflowing onto the border */
    /* 88px - 176px */
    width: clamp(5.5rem, 20vw, 11rem);
    margin-bottom: 0.5rem;
    color: #858585;
    display: block;
  }
  #stats-1229 .cs-number {
    /* 25px - 49px */
    font-size: clamp(1.5625rem, 3vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 900;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-1229 .cs-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #stats-1229 .cs-card-group {
    display: grid;
    /* makes all grid items stretch to have the same height if their content isn't all the same height */
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
  }
  #stats-1229 .cs-item {
    grid-column: span 1;
    flex-direction: row;
    align-items: center;
  }
  #stats-1229 .cs-stat-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1229 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #stats-1229 .cs-content {
    flex-direction: row;
    align-items: center;
  }
  #stats-1229 .cs-title,
  #stats-1229 .cs-text {
    max-width: none;
  }
  #stats-1229 .cs-card-group {
    width: 50%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #stats-1229 .cs-stat-group {
    max-width: 80rem;
    grid-template-columns: repeat(5, 1fr);
  }
  #stats-1229 .cs-stat {
    grid-column: span 1;
  }
  #stats-1229 .cs-stat:nth-of-type(4),
  #stats-1229 .cs-stat:nth-of-type(5) {
    grid-column: span 1;
  }
  #stats-1229 .cs-stat:nth-of-type(3):before {
    content: "";
  }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-892 .image {
    position: absolute;
    height: 250px;
    opacity: 70%;
    display: none;
  }
  #meet-team-454 .image2 {
    position: absolute;
    height: 250px;
    opacity: 70%;
    display: none;
  }
  #why-choose-892 {
    /* Centers Button */
    text-align: center;
    padding: var(--sectionPadding);
    /* prevents the arrow from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #why-choose-892 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #why-choose-892 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-892 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #why-choose-892 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #why-choose-892 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-892 .cs-text {
    max-width: 62.5rem;
  }
  #why-choose-892 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-choose-892 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #why-choose-892 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-choose-892 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-892 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* 20px - 32px */
    padding: clamp(1.25rem, 2.3vw, 2rem);
    background-color: #fef7f4;
    border-radius: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: span 6;
    position: relative;
    z-index: 1;
  }
  #why-choose-892 .cs-icon {
    width: 3rem;
    height: auto;
    margin: 0 0 1.25rem 0;
    display: block;
  }
  #why-choose-892 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #why-choose-892 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
  #why-choose-892 .cs-floater {
    width: 21.9375rem;
    height: auto;
    display: none;
    position: absolute;
    top: -13.75rem;
    right: -3.75rem;
    transform: rotate(-66deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-892 .image {
    position: absolute;
    height: 250px;
    opacity: 70%;
    display: block;
  }
  .image2 {
    position: absolute;
    height: 250px;
    opacity: 70%;
    right: 50px;
    display: block;
    bottom: 250px;
  }
  #why-choose-892 .cs-container {
    max-width: 80rem;
  }
  #why-choose-892 .cs-item {
    grid-column: span 2;
  }
  #why-choose-892 .cs-floater {
    display: block;
  }
}
