/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #banner-1014 {
    margin-top: -5rem;
    padding: 0 1rem;
    /* 160px - 245px */
    padding-top: clamp(14rem, 25vw, 15.3125rem);
    /* padding-top: clamp(10rem, 25vw, 15.3125rem); */

    padding-bottom: 3.5rem;

    /* padding-bottom: 7.5rem; */
    background-color: #000;
    position: relative;
    z-index: 1;
  }
  #banner-1014 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #banner-1014 .cs-picture {
    width: 100%;
    margin: 0 0 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  #banner-1014 .cs-picture:before {
    /* left line */
    content: "";
    width: 50%;
    max-width: 9.375rem;
    height: 1px;
    background: #b4b2c7;
    opacity: 1;
    position: relative;
    display: block;
  }
  #banner-1014 .cs-picture:after {
    /* right line */
    content: "";
    width: 50%;
    max-width: 9.375rem;
    height: 1px;
    background: #b4b2c7;
    opacity: 1;
    position: relative;
    display: block;
  }
  #banner-1014 .cs-icon {
    width: 40%;
    /* 100px - 180px */
    max-width: clamp(6.25rem, 18vw, 11.25rem);
    height: auto;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #banner-1014 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }

  #banner-1014 .cs-background {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  #banner-1014 .cs-background:before {
    /* black overlay box */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.72;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1014 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #banner-1014 {
    padding: 0 1rem;
    /* 160px - 245px */
    padding-top: clamp(10rem, 25vw, 15.3125rem);

    padding-bottom: 7.5rem;
    background-color: #000;
    position: relative;
    z-index: 1;
  }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-876,
  #RTsbsr-876,
  #RTsbst-876 {
    padding: var(--sectionPadding);
  }
  #RTsbs-876 .cs-container,
  #RTsbsr-876 .cs-container,
  #RTsbst-876 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #RTsbs-876 .cs-content,
  #RTsbsr-876 .cs-content,
  #RTsbst-876 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #RTsbs-876 .cs-title,
  #RTsbsr-876 .cs-title,
  #RTsbst-876 .cs-title {
    /* 17 characters wide including spaces */
    max-width: 25ch;
  }
  #RTsbs-876 .cs-text,
  #RTsbsr-876 .cs-text,
  #RTsbst-876 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-876 .cs-text:last-of-type,
  #RTsbsr-876 .cs-text:last-of-type,
  #RTsbst-876 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-876 .cs-button-solid,
  #RTsbsr-876 .cs-button-solid,
  #RTsbst-876 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-876 .cs-button-solid:before,
  #RTsbsr-876 .cs-button-solid:before,
  #RTsbst-876 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RTsbs-876 .cs-button-solid:hover:before,
  #RTsbsr-876 .cs-button-solid:hover:before,
  #RTsbst-876 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-876 .cs-picture,
  #RTsbsr-876 .cs-picture,
  #RTsbst-876 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    max-width: 39.375rem;
    /* 400px - 775px */
    height: clamp(10rem, 20vw, 48.4375rem);
    box-shadow: 0px 2.80579px 42.0868px rgba(0, 0, 0, 0.16);
    /* 100px - 200px */
    border-radius: 1rem;
    /* clips img tag corners */
    overflow: hidden;
  }
  #RTsbs-876 .cs-picture img,
  #RTsbsr-876 .cs-picture img,
  #RTsbst-876 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
  #RTsbs-876,
  #RTsbsr-876,
  #RTsbst-876 {
    padding: var(--sectionPadding);
  }
  #RTsbs-876 .cs-container,
  #RTsbsr-876 .cs-container,
  #RTsbst-876 .cs-container {
    flex-direction: row;
    max-width: 80rem;
    justify-content: space-between;
  }
  #RTsbs-876 .cs-content,
  #RTsbsr-876 .cs-content,
  #RTsbst-876 .cs-content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #RTsbs-876 .cs-picture,
  #RTsbsr-876 .cs-picture,
  #RTsbst-876 .cs-picture {
    width: 47vw;
    position: relative;
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-876 {
    background-color: #f7f7f7;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbsr-876 .cs-content {
    /* sends it to the left in the 1st position */
    order: -1;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #cta-51 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-51 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cta-51 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Mobile */
@media only screen and (min-width: 0rem) {
  #services-218 {
    padding-top: 0px !important;
    padding: var(--sectionPadding);
  }
  #services-218 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-218 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #services-218 .cs-text {
    margin-bottom: 1rem;
  }
  #services-218 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-218 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-218 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #services-218 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-218 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  #services-218 .cs-item {
    list-style: none;
    width: 100%;
    margin-right: 0.625rem;
    /* padding left and right changes on tablet */
    padding: 2.75rem 2rem;
    padding-bottom: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #fafbfc;
    border: 1px solid #dad9e3;
    border-radius: 0.3125rem;
    position: relative;
  }
  #services-218 .cs-item:before {
    /* top right box */
    content: "";
    width: 45%;
    max-width: 11.25rem;
    height: 50%;
    max-height: 9rem;
    background: var(--primary);
    border-radius: 1rem;
    position: absolute;
    display: block;
    top: -0.625rem;
    right: -0.625rem;
    z-index: -1;
  }
  #services-218 .cs-icon {
    /* 60px - 77px */
    width: clamp(3.75rem, 7.6vw, 4.8125rem);
    height: auto;
    margin-bottom: 2.5rem;
    display: block;
  }
  #services-218 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.5vw, 1.5625rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
    font-weight: bold;
  }
  #services-218 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-218 .cs-watermark {
    display: none;
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  #services-218 .cs-container {
    max-width: 80rem;
    position: relative;
  }
  #services-218 .cs-content {
    width: 50%;
  }
  #services-218 .cs-card-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #services-218 .cs-item {
    grid-column: span 4;
    grid-row: span 1;
    margin: 0;
    /* makes each card the same height if you add or remove lines of text */
    align-self: stretch;
    padding-bottom: 5rem;
  }
  #services-218 .cs-watermark {
    width: 30%;
    max-width: 14rem;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
}

/* 
DELETE!!!
*/

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1116 {
    /* 200px - 300px top */
    padding: clamp(9.5rem, 8.82vw, 5.75rem) 1rem 0.25rem;
    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1116:before {
    /* textured pattern */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    /* changes to a desktop image at tablet */
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    /* prevents the mouse from interacting with itand also in dev tool mode */
    pointer-events: none;
  }
  #hero-1116 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #hero-1116 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-1116 .cs-topper {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #767676;
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-1116 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* 23 characters including spaces wide */
    max-width: 23ch;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-1116 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
    color: var(--bodyTextColor);
  }
  #hero-1116 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-1116 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #hero-1116 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1116 .cs-image-group {
    /* we use ems for everything inside the cs-image-group so they pull their value for em from the cs-image-group container that we set.  This min-max property lets us tie the font size to the view width of the screen and grows proportionally with every pixel wide the screen gets until the value the view width units = .75em, resets at small desktop */
    font-size: min(2.2vw, 0.75em);
    width: 40.8125em;
    height: 38.625em;
    position: relative;
    z-index: 2;
  }
  #hero-1116 .cs-floater {
    /* 50px - 120px */
    width: clamp(3.125rem, 8vw, 7.5rem);
    height: clamp(3.125rem, 8vw, 7.5rem);
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8.125em;
    /* changes to -74px at large desktop */
    right: -2.1875em;
    transform: rotate(-15deg);
  }
  #hero-1116 .cs-floater-icon {
    width: 3.25em;
    height: auto;
  }
  #hero-1116 .cs-picture {
    width: 40.6875em;
    height: 32.6875em;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 50%;
    top: 5.9375em;
    transform: translateX(-50%);
  }
  #hero-1116 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  #hero-1116 .cs-picture1 {
    /* we set a height on the top image to cut off the bottom of it and hide it with overflow:hidden where the curved bottom picture meets it. The top image is what overlaps the "curve" of the bottom image.  */
    height: 69.5%;
    transform: translateX(-50%);
    /* clips the bottom left corner of the top image to match the curve of the bottom one because it was too long */
    border-radius: 7% 7% 7% 7%;
  }
  #hero-1116 .cs-picture2 {
    border-radius: 0 0 55% 55%;
  }
  #hero-1116 .cs-graphic {
    width: 36.625em;
    height: auto;
    position: absolute;
    z-index: -1;
    /* flips them horizontally */
    transform: scaleX(-1);
  }
  #hero-1116 .cs-graphic1 {
    top: 0;
    left: 0;
  }
  #hero-1116 .cs-graphic2 {
    bottom: 0;
    right: 0;
  }
  #hero-1116 .cs-donations {
    /* 12px - 20px */
    padding: clamp(0.75rem, 2.5vw, 1.25rem);
    /* prevent padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1.5vw, 0.75rem);
    position: absolute;
    top: -0.625em;
    left: 0;
  }
  #hero-1116 .cs-donations-icon {
    /* 12px - 20px */
    width: clamp(0.75rem, 2vw, 1.25rem);
    height: auto;
  }
  #hero-1116 .cs-donations-icon-wrapper {
    /* 32px - 48px */
    width: clamp(2rem, 4vw, 3rem);
    height: clamp(2rem, 4vw, 3rem);
    background-color: var(--primaryLight);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1116 .cs-donations-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.25rem;
  }
  #hero-1116 .cs-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 4px - 8px */
    gap: clamp(0.25rem, 1vw, 0.5rem);
  }
  #hero-1116 .cs-progress {
    /* 100px - 160px */
    width: clamp(6.25rem, 8vw, 10rem);
    /* 4px - 8px */
    height: clamp(0.25rem, 1vw, 0.5rem);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #e8e8e8;
  }
  #hero-1116 .cs-progress-bar {
    width: var(--progress);
    height: 100%;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    display: block;
  }
  #hero-1116 .cs-percentage {
    font-size: 0.75rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: #4e4b66;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1116 .cs-image-group {
    font-size: min(1.13vw, 1em);
    /* pushes down to create the space for the cs-volunteer to drop down 68px, since its positioned relative to the cs-image-group-wrapper div at bottom 0, the marign-bottom on the cs-image-group pushes down on the wrapper div, making the cs-volunteer drop down with it since it is positioned to the bottom of the wrapper div */
    margin-bottom: 4.25rem;
  }
  #hero-1116 .cs-donations {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1116 {
    text-align: left;
  }
  #hero-1116 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-1116 .cs-content {
    width: 40vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #hero-1116 .cs-title,
  #hero-1116 .cs-text {
    text-align: left;
  }
}
/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
  #hero-1116 .cs-image-group {
    margin: 0;
    /* 48px - 160px */
    left: calc(clamp(2rem, -5vw, 10rem) * -1);
    z-index: 10;
  }
  #hero-1116 .cs-floater {
    right: -4.625rem;
  }
}
